@import "materialize";
@import "materialize/extras/nouislider";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Kreon|Sacramento');

#map {
  width: 100%;
  min-height: 250px;
}

.fa-star, .fa-star-half-o {
  color: gold;
}

.splash-text,  {
  color: white;
  font-family: 'Sacramento', cursive;
}




.splash-div {
  padding-top: 150px;
}

nav {
  background: #030003;
}

.splash {
    background: url('https://userscontent2.emaze.com/images/6cebcf23-8396-4b41-89d0-905d4b03aa8a/c7d47220-5eb1-4a82-831f-1fee08776ebc.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.feed {
  min-height: 1000px;
}

.btn-red {
  background-color: #ee6e73;
}

body {
  background-color: rgba(250, 235, 235, 0.58);
  font-family: 'Kreon', serif;
}

.white-div {
  background-color: white;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 20px;
  margin: 0.75rem 0 0 0;
}

.btn {
  margin: 0 0 15px 0;
}

nav {
  margin-bottom: 40px;
}

.toast {
  border-radius: 24px;

  &.success {
    background-color: #5cb85c;
  }

  &.danger {
    background-color: orangered;
  }

  &.warning {
    background-color: #FFCC00;
  }

  &.error {
    background-color: #D8000C;
  }

  &.info {
    background-color: #00529B;
  }

}

.venues .card {
  min-height: 250px;
}
