<% if current_user %>
  <%= render partial: "wines/follow/#{current_user.role}_follow" %>
<% end %>
<div class="center">
  <%= render partial: 'wines/wine_details', locals: {wine: @wine_data.snooth_wine} %>
</div>
<% if @wine_data.reviews %>
  <%= render partial: 'wines/wine_reviews', locals: {reviews: @wine_data.uncorked_wine.reviews} %>
<% end %>
<% if @wine_data.venues %>
<%= render partial: 'venues/summary', locals: {venues: @wine_data.uncorked_wine.venues} %>
<% end %>
